#!/bin/bash
# {{ ansible_managed }}
{% for action in letsencrypt_before %}
  {{ action }}
{% endfor %}
{% for service in letsencrypt_renew_services %}
  /usr/sbin/service {{ item }} stop
{% endfor %}
/usr/bin/letsencrypt renew
{% for service  in letsencrypt_renew_services %}
  /usr/sbin/service {{ item }} restart
{% endfor %}
{% for action in letsencrypt_after %}
  {{ action }}
{% endfor %}
